<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    * {
      font-family: Arial, Helvetica, sans-serif;
    }

    .containersImage{
        column-count:5;
        column-gap: .1rem;
      }
    @media screen and (max-width: 800px){
      #button{
        display: none;
      }
      .containersImage{
        column-count:3;
        column-gap: .1rem;
      }
    }

    @media screen and (max-width: 400px) {
      body{
        background: lightgrey;
      }
    }
  </style>
  <title>Document</title>
</head>
<body class="p-2">
  <div class="containersImage">
    {% for url in urls %}
      <img src="{{url}}" alt="" class="w-72 top-1">
    {% endfor %}
  </div>
</body>
</html>