<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    * {
      font-family: Arial, Helvetica, sans-serif;
      user-select: none;
    }
    @media screen and (max-width: 800px){
      #button{
        display: none;
      }
      /* body{background-color: gold;} */
    }

    @media screen and (max-width: 600px) {
      body{
        background: lightgrey;
      }
    }
  </style>
  <title>Document</title>
</head>
<body>
  <div class="flex flex-row">
    <div  id="button"  class="left">
      <div id="vaginas" class="transition duration-300 hover:translate-x-1 w-40 h-14 leading-[3.5rem] text-center rounded-2xl mb-3 bg-black text-white">Videos</div>
      <div id="breasts" class="transition duration-300 hover:translate-x-1 w-40 h-14 leading-[3.5rem] text-center rounded-2xl bg-black text-white">Images/Breasts</div>
    </div>

    <!-- container videos or breasts .html file -->
    <iframe id="varFrame" class="flex w-10/12 h-screen ml-5 bg-slate-300" src="/breasts" frameborder="1" >
      Dont's support iframe. Please change your browers
    </iframe>
  </div>
</body>
</html>
<script>
  vaginas.onclick = () => {
    varFrame.setAttribute("src", "/vaginas")
  }

  breasts.onclick = () => {
    varFrame.setAttribute("src", "/breasts")
  }
</script>