<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/vue@2.7.0/dist/vue.js"></script>

  <title>Document</title>
</head>
<body class="ml-2 h-screen bg-gradient-to-bl from-cyan-500 to-blue-500 bg-no-repeat">
  <div class="w-3/6 h-auto m-auto text-center p-10 rounded-[2rem] mt-20 bg-white drop-shadow-2xl">
    <h1 class="text-5xl m-3 font-bold p-5 pt-0">登录</h1>
    <form action="/user" method="post" autocomplete="off">
      <input id="username" type="text" name="username" placeholder="用户名" class="border-2 w-[30rem] h-[4rem] mb-3 outline-none rounded-2xl p-2 transition duration-300 focus:border-blue-700"/> <br>
      <input id="password" type="password" name="password" placeholder="密码" class="border-2 w-[30rem] h-[4rem] outline-none rounded-2xl p-2 transition duration-300 focus:border-blue-700"/> <br>
      <input type="submit" value="登录" class="w-32 h-10 bg-blue-700 text-white mt-2 rounded-3xl transition duration-150 hover:-translate-y-1 hover:drop-shadow-md" />
    
      <!-- if has exceptions, how to fixd them -->
      {% if request.args.get("error") != None %}
        <br>
        <span class="text-red-600 ">{{request.args.get("error")}}</span>
      {% endif %}
    </form>
    
  </div>
  <!-- <button onclick="correct()" class="w-32 h-10 bg-orange-700 text-white mt-2 rounded-3xl transition duration-150 hover:-translate-y-1 hover:drop-shadow-md" >正确的密码</button>
  <button onclick="mistask()" class="w-32 h-10 bg-gray-700 text-white mt-2 rounded-3xl transition duration-150 hover:-translate-y-1 hover:drop-shadow-md" >错误的密码</button> -->
</body>
</html>